@page "/"
@rendermode InteractiveServer
@inject IArticleRepository articleRepository
@inject NavigationManager navigationManager

<PageTitle>Джйотіш - вчення всевідання</PageTitle>

<section class="ds s-py-90 s-py-xl-150">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-center mt-0 mb-2 special-heading fs-60 color-main">
                    <span>Останні статті</span>
                </h3>
                <div class="line"></div>
                <p class="text-center fs-20 mt-4">
                    <span>Вивчайте Джйотіш через наші статті<br>Джйотіш - вчення всевідання</span>
                </p>
                <div class="divider-50 divider-xl-60"></div>
                <ArticlesList Articles="articles" />
            </div>
        </div>
    </div>
</section>

<section class="ds s-overlay s-parallax section-video s-py-90 s-pt-xl-150 s-pb-xl-200 text-center" style="background-position: 50% -12px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mt-0 mb-2 special-heading fs-60 color-main">
                    <span>Додати статтю</span>
                </h3>
                <div class="line"></div>
                <p class="text-center fs-20 mt-4">
                    <span>Ви має бути авторизованим користувачем аби мати змогу додавати статті</span>
                </p>
                <div class="divider-40 divider-xl-60"></div>
                <button @onclick="AddNewArticle">Створити статтю</button>
            </div>
        </div>
    </div>
</section>

<section class="ds s-overlay s-parallax s-py-90 s-pt-xl-150 s-pb-xl-200 text-center" style="background-position: 50% -12px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mt-0 mb-2 special-heading fs-60 color-main">
                    <span>Додати тему</span>
                </h3>
                <div class="line"></div>
                <p class="text-center fs-20 mt-4">
                    <span>Ви має бути авторизованим користувачем аби мати змогу додавати теми</span>
                </p>
                <div class="divider-40 divider-xl-60"></div>
                <button @onclick="AddNewTopic">Створити тему</button>
            </div>
        </div>
    </div>
</section>

<section class="ds s-overlay s-parallax section-video s-py-90 s-pt-xl-150 s-pb-xl-200 text-center" style="background-position: 50% -12px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mt-0 mb-2 special-heading fs-60 color-main">
                    <span>Додати позначку</span>
                </h3>
                <div class="line"></div>
                <p class="text-center fs-20 mt-4">
                    <span>Ви має бути авторизованим користувачем аби мати змогу додавати позначки</span>
                </p>
                <div class="divider-40 divider-xl-60"></div>
                <button @onclick="AddNewTag">Створити позначку</button>
            </div>
        </div>
    </div>
</section>

@code {
    private List<Article> articles;
    protected async override Task OnInitializedAsync()
    {
        articles = await articleRepository.GetLastArticlesAsync(3);
        if (articles.Count > 0)
        {
            foreach (var article in articles)
            {
                if (article == articles.FirstOrDefault())
                {
                    article.isFirst = true;
                    break;
                }
            }
        }
    }

    private void AddNewArticle()
    {
        // articles.Add(new Article() {Title = $"New Article {articles.Count + 1}", Created = DateTime.Now});
        navigationManager.NavigateTo("/articles/create");
    }

    private void AddNewTopic()
    {
        navigationManager.NavigateTo("/topics/create");
    }

    private void AddNewTag(MouseEventArgs args)
    {
        navigationManager.NavigateTo("/tags/create");
    }
}
