@page "/topics/create"
@rendermode InteractiveServer
@inject IMenuRepository menuRepository
@inject ITopicRepository topicRepository
@inject NavigationManager navigationManager

<PageTitle>Додавання теми</PageTitle>

<section class="ds s-py-90 s-py-xl-150">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-center mt-0 mb-2 special-heading fs-60 color-main">
                    <span>Додавання теми</span>
                </h3>
                <div class="line"></div>
                <p class="text-center fs-20 mt-4">
                    <span>Заповність форму аби створити нову тему.</span>
                </p>
                <div class="divider-50 divider-xl-60"></div>
            </div>
            <div class="col-12">
                <TopicForm Topic="topic" Menus="Menus" OnValidSubmit="Create" />
            </div>
        </div>
    </div>
</section>

@code {
    Topic topic = new Topic();
    List<Menu> Menus = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Menus = await menuRepository.GetAllAsync();
        }
        catch (Exception ex)
        {

            navigationManager.NavigateTo($"/Error/{Uri.EscapeDataString(ex.Message)}");
        }
    }

    private async Task Create()
    {
        try
        {
            await topicRepository.CreateTopicAsync(topic);
            navigationManager.NavigateTo($"/menu/{topic.MenuId}/{StringUtilities.Translit(topic.Name)}");
        }
        catch (Exception ex)
        {

            navigationManager.NavigateTo($"/Error/{Uri.EscapeDataString(ex.Message)}");
        }
    }
}
