@page "/menu/{MenuId:int}"
@page "/menu/{MenuId:int}/{MenuTitle}"
@rendermode InteractiveServer

<PageTitle>@MenuTitle</PageTitle>

<section class="page_title ds s-overlay s-parallax s-pt-130 s-pt-xl-150 s-pb-65">
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h1>@MenuTitle</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/">Початок</a>
					</li>
					<li class="breadcrumb-item active">
						@MenuTitle
					</li>
				</ol>
			</div>

		</div>
	</div>
</section>

@code {
	[Parameter] public int MenuId { get; set; }
	[Parameter] public string MenuTitle { get; set; }
}
