<header class="page_header ds ms s-overlay justify-nav-start">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-9 col-1 order-2 order-xl-1">
                <div class="nav-wrap">
                    <nav class="top-nav">
                        <ul class="nav sf-menu">
                            <li>
                                <NavLink href="/menu/1/Filosofiia" Match="NavLinkMatch.All">
                                    Філософія
                                </NavLink>
                            </li>
                            <li>
                                <NavLink href="/menu/2/Chas" Match="NavLinkMatch.All">
                                    Час
                                </NavLink>
                            </li>
                            <li>
                                <NavLink href="/menu/3/Osnovy" Match="NavLinkMatch.All">
                                    Основи
                                </NavLink>
                            </li>
                            <li>
                                <NavLink href="/menu/4/Karty" Match="NavLinkMatch.All">
                                    Карти
                                </NavLink>
                            </li>
                            <li>
                                <NavLink href="/menu/5/Prohnoz" Match="NavLinkMatch.All">
                                    Прогноз
                                </NavLink>
                            </li>
                            <li>
                                <NavLink href="/menu/6/Praktyka" Match="NavLinkMatch.All">
                                    Практика
                                </NavLink>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-3 col-9 order-1 order-xl-2 text-xl-right text-left">
                <span class="social-icons">
                    <a href="/articles/search" class="fa fa-search" title="Пошук"></a>
                    <a href="https://www.facebook.com/groups/3750808215226756" class="fa fa-facebook" title="Facebook" target="_blank"></a>
                    <!-- <a href="https://twitter.com/" class="fa fa-twitter " title="twitter"></a> -->
                    <!-- <a href="https://www.linkedin.com/" class="fa fa-linkedin " title="linkedin"></a> -->
                    <a href="https://www.instagram.com/galyna.astrolog/" class="fa fa-instagram" title="Instagram" target="_blank"></a>
                    <!-- <a href="https://www.youtube.com/" class="fa fa-youtube-play " title="youtube"></a> -->
                    <a href="https://t.me/jotish_dnipro" class="fa fa-telegram" title="Telegram" target="_blank"></a>
                </span>
            </div>
        </div>
    </div>
    <span class="toggle_menu"><span></span></span>
</header>