@page "/articles/create"
@rendermode InteractiveServer
@inject IArticleRepository articleRepository
@inject IMenuRepository menuRepository
@inject ITopicRepository topicRepository
@inject ITagRepository tagRepository
@inject NavigationManager navigationManager

@using System.Text.Json;
@using System.Text.Encodings.Web;

<PageTitle>Додавання статті</PageTitle>

<section class="ds s-py-90 s-py-xl-150">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-center mt-0 mb-2 special-heading fs-60 color-main">
                    <span>Додавання статті</span>
                </h3>
                <div class="line"></div>
                <p class="text-center fs-20 mt-4">
                    <span>Заповність форму аби створити нову статтю.</span>
                </p>
                <div class="divider-50 divider-xl-60"></div>
            </div>
            <div class="col-12">
                @if (NotSelectedTags != null)
                {
                    <ArticleForm Article="Article" OnValidSubmit="SaveArticle" NotSelectedTags="NotSelectedTags" Menus="AllMenus" Topics="AllTopics" />
                }
            </div>
        </div>
    </div>
</section>

@code {
    private Article Article = new Article();
    private List<Menu> AllMenus = new();
    private List<Topic> AllTopics = new();
    private List<Tag> NotSelectedTags = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            AllMenus = await menuRepository.GetAllAsync();
            AllTopics = await topicRepository.GetAllTopicsAsync();
            var allTags = await tagRepository.GetAllTagsAsync();
            NotSelectedTags = allTags;
        }
        catch (Exception ex)
        {
            navigationManager.NavigateTo($"/Error/{Uri.EscapeDataString(ex.Message)}");
        }
    }

    private async Task SaveArticle()
    {
        try
        {
            Article.Created = DateTime.Now;
            await articleRepository.CreateArticleAsync(Article);
            navigationManager.NavigateTo($"/article/{Article.Id}/{StringUtilities.Translit(Article.Title)}");
        }
        catch (Exception ex)
        {
            navigationManager.NavigateTo($"/Error/{Uri.EscapeDataString(ex.Message)}");
        }
    }
}
