@page "/articles/edit/{ArticleId:int}"
@rendermode InteractiveServer

<PageTitle>Редагування статті</PageTitle>

<section class="ds s-py-90 s-py-xl-150">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-center mt-0 mb-2 special-heading fs-60 color-main">
                    <span>Редагування статті</span>
                </h3>
                <div class="line"></div>
                <p class="text-center fs-20 mt-4">
                    <span>Внесіть зміни до форми аби відредагувати цю статтю.</span>
                </p>
                <div class="divider-50 divider-xl-60"></div>
            </div>
            @if (Article != null)
            {
                <div class="col-12">
                    <ArticleForm Article="Article" OnValidSubmit="Edit" NotSelectedTags="NotSelectedTags" SelectedTags="SelectedTags" Menus="AllMenus" Topics="AllTopics" />
                </div>
            }
        </div>
    </div>
</section>

@code {
    [Parameter] public int ArticleId { get; set; }
    private Article Article;

    private List<Tag> NotSelectedTags = new List<Tag>() {
        new Tag { Id = 2, Mark = "Сонце" },
        new Tag { Id = 3, Mark = "Лев" },

    };

    private List<Tag> SelectedTags = new List<Tag>() {
       new Tag { Id = 1, Mark = "Джйотіш" },
       new Tag { Id = 4, Mark = "Овен" },
    };

    private List<Menu> AllMenus = new List<Menu>() {
    new Menu { Id = 1, Name = "Філософія" },
    new Menu { Id = 2, Name = "Час" },
    new Menu { Id = 3, Name = "Основи" },
    new Menu { Id = 4, Name = "Карти" },
    new Menu { Id = 5, Name = "Прогноз" },
    new Menu { Id = 6, Name = "Практика" },
};

    private List<Topic> AllTopics = new List<Topic>() {
    new Topic { Id = 1, Name = "Філософська тема 1", MenuId = 1 },
    new Topic { Id = 2, Name = "Філософська тема 2", MenuId = 1 },
    new Topic { Id = 3, Name = "Часова тема 1", MenuId = 2 },
    new Topic { Id = 4, Name = "Часова тема 2", MenuId = 2 },
    new Topic { Id = 4, Name = "Часова тема 3", MenuId = 2 },
    new Topic { Id = 5, Name = "Основна тема 1", MenuId = 3 },
    new Topic { Id = 6, Name = "Основна тема 2", MenuId = 3 },
    new Topic { Id = 7, Name = "Карткова тема 1", MenuId = 4 },
    new Topic { Id = 8, Name = "Карткова тема 2", MenuId = 4 },
    new Topic { Id = 9, Name = "Карткова тема 3", MenuId = 4 },
    new Topic { Id = 10, Name = "Прогнозова тема 1", MenuId = 5 },
    new Topic { Id = 11, Name = "Прогнозова тема 2", MenuId = 5 },
    new Topic { Id = 12, Name = "Практична тема 1", MenuId = 6 },
    new Topic { Id = 13, Name = "Практична тема 2", MenuId = 6 },
    new Topic { Id = 14, Name = "Практична тема 3", MenuId = 6 },
};

    protected override void OnInitialized()
    {
        Article = new Article
        {
            Id = ArticleId,
            Title = $"Стаття {ArticleId}",
            Description = $"Це опис статті з ідентифікатором {ArticleId}.",
            Content = $"<p>Це шикарний вміст статті <b>з ідентифікатором {ArticleId}.</b></p>",
            Created = DateTime.Now,
            Picture = "/uploads/53223867718388822866620233485472393587138329n_20260428132907.jpg",
            TopicId = 13,
        };
    }

    private void Edit()
    {
        // Логіка збереження статті
        Console.OutputEncoding = System.Text.Encoding.UTF8;
        Console.WriteLine($"Збереження статті: {Article.Title}");
        Console.WriteLine($"Вміст: {Article.Content}");
    }
}
